*{
    padding: 0;
    margin: 0;
}

.wrapper
{
    background-image: url(bg.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;

}
.navbar
{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
.menu
{
    width: 25px;
    cursor: pointer;
    display: none;
}
.logo
{
    width: 120px;
    background-color: black;
   
 
       
      
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 30px;
    padding: 20px;
    position: relative;
   
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;

}
.navbar ul li::after
{
    content: '';
    height: 3px;
    width:0;
    background: rgb(233, 231, 229);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}
.navbar ul li:hover::after
{
    width: 100%;

}
.content
{
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translateY(-50%); /* matter in center */
    font-size:x-large;
    color: white;
}
@media only screen and (max-width:700px) {
    .navbar ul{
    width: 100%;
    background: linear-gradient(#ff54a2,#ff575a);
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 2;
    display: none;
    }
    .navbar ul li{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    
    }
    .navbar ul li a{
    color: white;
    }
    .menu
    {
    display: block;
    }
    }
    
